    body {
      background-color: #fdfaf6;
      scroll-behavior: smooth;
      font-family: 'Poppins', sans-serif;
    }

    .fade-up {
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.6s ease-in-out;
    }

    .fade-up.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .fabric-pattern {
      background-image: url('images/bg.jpg');
      background-repeat: repeat;
      background-size: auto;
    }
      @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }

  .animate-pulse {
    animation: pulse 1.5s infinite ease-in-out;
  }